<div class="container">
  <h3>NEW FX FORM</h3>

  <%= form_for @fxtran do |f| %>
    <% @fxtran.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    <%= f.label "I HAVE" %>:
    <%= f.text_field :base_amount, :required => true %>
    <%= f.label "OF THIS CURRENCY" %>
    <%= collection_select(:fxtran, :base_curr_id, Currency.all, :id, :curr_name, {:prompt => 'Choose a currency'}, {:required => true}) %>

    <div>
      <%= f.label "I want this currency" %>
      <%= collection_select(:fxtran, :quote_curr_id, Currency.all, :id, :curr_name, {:prompt => 'Choose a currency'}, {:required => true}) %>
    </div>

    <%= f.hidden_field :status_id, :value =>  "1" %>
    <%= f.hidden_field :requestor_id, :value =>  session[:user_id] %>

    <%= f.hidden_field :lat, :id => "lat_hidden"%>
    <%= f.hidden_field :lng, :id => "lng_hidden"%>

    <%= f.submit 'Create FX Request', :class => "fx-submit" %>
 
  
  <% end %>

</div>

<script type="text/javascript">

  var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maxmiumAge: 0
};

function success(pos){
  var crd = pos.coords

  console.log('Coordinates are:');
  console.log('Latitude: ' + crd.latitude);
  console.log('Longitude: ' + crd.longitude);
  console.log('Accuracy: ' + crd.accuracy);

  // document.cookie = "latitude=" + crd.latitude;
  // document.cookie = "longitude=" + crd.longitude;
  // document.cookie = "accuracy=" + crd.accuracy;

  // $('#lat_hidden').val(1);
  // $('#lng_hidden').val(2);
  document.getElementById('lat_hidden').value = crd.latitude;
  document.getElementById('lng_hidden').value = crd.longitude;
};

function error(err){
  console.warn('ERROR(' + err.code + '): ' + err.message);
}

$(".fx-submit").click(function(){
  console.log("it is loaded yes")
  navigator.geolocation.getCurrentPosition(success, error, options)
});

  // navigator.geolocation.getCurrentPosition(GeoL);
  // function GeoL(position) {
  //      document.getElementById('lat').value = position.coords.latitude;
  //      document.getElementById('lng').value = position.coords.longitude;
  // }
</script>