<!DOCTYPE html>
<html>
<head>
  <title>PURE FX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <div class="navbar-header">
	      <%= link_to 'PURE FX', root_path, class: 'navbar-brand' %>
	    </div>
	    <div class="navbar-right">
	      <% if current_user %>
	        <ul class="nav navbar-nav pull-right">
	          <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
	          <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
	        </ul>
	      <% else %>
	        <ul class="nav navbar-nav">
	          <li><%= link_to 'Sign In With Facebook', '/auth/facebook' %></li>
	        </ul>
	      <% end %>
	    </div>
	  </div>
	</nav>

	<div class="container">

<!-- 	<p id="demo">Test</p> -->

	  <% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>

	  <%= yield %>
	</div>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
</script>

</body>
</html>
